@using FruitsInventorySystem.Models
@model List<Supplier>

<div class="table-box">
    <table>
        <tr>
            <th>Supplier ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Date</th>
            <th>Fruit ID</th>
            <th>Fruit Name</th>
            <th>Quality</th>
            <th>Boxes</th>
            <th>Price</th>
            <th>Total</th>
            <th>Grand Total</th>
            <th>Paid</th>
            <th>Balance</th>
            <th>Payment</th>
            <th>Action</th>
        </tr>

        @if (Model != null && Model.Any())
        {
            var groups = Model.GroupBy(x => x.SupplierId);

            foreach (var group in groups)
            {
                int count = group.Count();
                bool first = true;

                foreach (var item in group)
                {
                    <tr>
                        @if (first)
                        {
                            <td rowspan="@count">@item.SupplierId</td>
                            <td rowspan="@count">@item.SupplierName</td>
                            <td rowspan="@count">@item.PhoneNumber</td>
                            <td rowspan="@count">@item.Date?.ToString("dd-MM-yyyy")</td>
                        }

                        <td>@item.FruitId</td>
                        <td>@item.FruitName</td>
                        <td>@item.Quality</td>
                        <td>@item.BoxCount</td>
                        <td>@item.PricePerBox</td>
                        <td>@item.Total</td>

                        @if (first)
                        {
                            <td rowspan="@count">@item.GrandTotal</td>
                            <td rowspan="@count">@item.PaidAmount</td>
                            <td rowspan="@count">@item.RemainingAmount</td>
                            <td rowspan="@count">@item.PaymentType</td>

                            <td rowspan="@count">

                                <!-- EDIT -->
                                <a asp-action="EditSupplier"
                                   asp-route-id="@item.SupplierId"
                                   class="action-icons" style="text-decoration:none">
                                    ✏️
                                </a>

                                <!-- PRINT -->
                                <span class="action-icons"
                                      onclick="printSupplier('@item.SupplierId')">
                                    🖨️
                                </span>

                            </td>

                            first = false;
                        }
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="15" class="no-data">
                    No data found
                </td>
            </tr>
        }

    </table>
</div>